
body{
    background-color: black;
}

header h1{
    color: gray;
    text-align: center;
    margin-top: 30px;
    height: 60px;
}

section{
    background-color: black;
    height: 100%;
    padding: 0 20px;
}
/* ------------------------------------------------ */
.p1{
    background-color: rgb(49, 45, 45);
    margin: 20px;
    height: 260px;
    border-radius: 20px;
    box-shadow: 8px 8px;
}
.p1 div:hover{
    background-color: black;
    border-radius: 20px;
    box-shadow: 10px 10px black;
}
.p2{
    background-color: rgb(49, 45, 45);
    margin: 20px;
    height: 260px;
    border-radius: 20px;
    box-shadow: 8px 8px;
}
.p2 div:hover{
    background-color: black;
    border-radius: 20px;
    box-shadow: 10px 10px black;
}
.p3{
    background-color: rgb(49, 45, 45);
    margin: 20px;
    height: 260px;
    border-radius: 20px;
    box-shadow: 8px 8px;
}
.p3 div:hover{
    background-color: black;
    border-radius: 20px;
    box-shadow: 10px 10px black;
}
.p4{
    background-color: rgb(49, 45, 45);
    margin: 20px;
    height: 260px;
    border-radius: 20px;
    box-shadow: 8px 8px;
}
.p4 div:hover{
    background-color: black;
    border-radius: 20px;
    box-shadow: 10px 10px black;
}
.p5{
    background-color: rgb(49, 45, 45);
    margin: 20px;
    height: 260px;
    border-radius: 20px;
    box-shadow: 8px 8px;
}
.p5 div:hover{
    background-color: black;
    border-radius: 20px;
    box-shadow: 10px 10px black;
}
.p6{
    background-color: rgb(49, 45, 45);
    margin: 20px;
    height: 260px;
    border-radius: 20px;
    box-shadow: 8px 8px;
}
.p6 div:hover{
    background-color: black;
    border-radius: 20px;
    box-shadow: 10px 10px black;
}
/* ----------------------divs-------------------------- */
.mini1 img{
    width: 200px;
    height: 200px;
    margin: 30px 30px 30px 60px;
}
.mini2 img{
    width: 200px;
    height: 200px;
    margin: 30px 60px 30px 50px;
}
.mini3 img{
    width: 200px;
    height: 200px;
    margin: 30px 90px;
}
.mini4 img{
    width: 200px;
    height: 200px;
    margin: 30px 90px;
}
.mini5 img{
    width: 210px;
    height: 200px;
    margin: 30px 80px;
}
.mini6 img{
    width: 210px;
    height: 200px;
    margin: 30px 90px;
}
.mini7 img{
    width: 200px;
    height: 200px;
    margin: 30px 30px 30px 80px;
}
.mini8 img{
    width: 200px;
    height: 200px;
    margin: 30px 80px 30px 50px;
}
/* ------------------------------------------------ */
footer{
    height: 70px;
    background-color: black;
}
footer h6{
    color: white;
    margin-top: 15px;
    text-align: center;
}